# Temp files
.idea
.pytest_cache
__pycache__
*.pt

# Outputs
/tmp/
/out/
/runs/
/saved_runs/
/saved_runs_archive/

# Sub-projects
/other/
/joern/
/old-joern/
/SupContrast/
/codepropertygraph/

# Big files
/data/

/bfg.jar
